body {
    font-family: Arial, sans-serif;
    background-color:  #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}

header {
    margin-top: 100px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

header h3 {
    font-size: 16px;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    width: 100%;
}


h1 {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

p {
    font-size: 16px;
}

input[type="text"], button {
    width: 94%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

#resultado {
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}

#pie {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    width: 420px;
}

#pie hr {
    border: 1px solid #ddd;
    margin: 0;
}

#pie h3 {
    margin: 10px;
    font-size: 15px;
}

@media (max-width: 600px) {
    section {
        max-width: 100%;
    }
}
