body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header h4 {
    font-size: 16px;
    margin: 0;
}

header hr {
    border: 1px solid #ccc;
}

section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;

    color: #333;
}

input[type="text"],
input[type="number"],
input[type="radio"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: -10px;
}

input[type="submit"] {
    background-color: #14679f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #3498db;
}

#pie {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: white;
    font-size: 14px;
}

@media (max-width: 600px) {
    section {
        max-width: 100%;
    }
}
