
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color:#3498db;;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 28px;
    margin: 0;
  }
  
  header h3 {
    font-size: 18px;
    margin: 0;
  }
  
  section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 80%;
  }
  
  button {
    padding: 10px 20px;
    background-color:#14679f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #555;
  }

  #resultado {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  #pie {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  #pie h3 {
    font-size: 16px;
    margin: 0;
  }

  @media (max-width: 600px) {
    section {
        max-width: 100%;
    }
}
  