body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


center {
    text-align: center;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}

h4 {
    font-size: 18px;
    margin: 10px 0;
}

hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}

